*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

ul{
    list-style-type: none;
    padding: 10px;
    display: inline;
}
ul li{
    display: inline;
    padding: 5px 10px;
    vertical-align: center;

}

#photog{
    height: 40px;
}

nav{
    background-color: #10243B;
    color: white;
    /* padding: 5px 10px; */
    block-size: 50px;
    width: 100%;
    display: inline-block;
    
}

#one{
    font-family: "Open sans , sans-serif";
    text-transform: uppercase;
    background-color: #10243B;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 1% 0% 0% 0%;
    vertical-align: middle;
    display: inline-block;
}

#two{
    font-family: "Open sans , sans-serif";
    background-color: #10243B;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    float: right;
    display: inline-block;
    padding-top: 20px;
    color: #a3dde8;

}


body{
    margin: 0px;
    padding: 0px;
}

#bluebox{
    background-color: #005983;
    vertical-align: center;
    /* padding: 5px 10px; */
    float: right;
    text-transform: uppercase;
    display: inline-block;
}

#heroSection{
    width: 99vw;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0), transparent), url(images/graduation.jpg);
}

.picOne{
        height: 40px;
        vertical-align: center;
    }
}

#explore{
    height: 400px;
    width: 100vw;
    background-color: #10243B;
}

#exploreheader{
    height: 100px;
    width: 100vw;
    color: white;
    text-align: center;
    vertical-align: middle;
    background-color: #10243B;
}

#exploresection{
    height: 300px;
    width: 100vw;
}

.explorebox{
    height: 300px;
    width: 24.5%;
    display: inline-block;
}

#patriotplaza{
    background-image: url(images/patriots\ plaza.jpg);
    background-size: cover;
    background-position: center;

}

#ccnn{
    background-image: url(images/ccnn.jpg);
    background-size: cover;
    background-position: center;

}

#college{
    background-image: url(images/college.png);
    background-size: cover;
    background-position: center;
}

#media{
    background-image: url(images/ccnn\ live.png);
    background-size: cover;
    background-position: center;
}

#at_a_glance{
    width: 100vw;
    height: 676px;
    background-color: white;
    text-align: center;
    position: relative;
}

#at_glance_header{
    color: #00344C;
    text-align: center;
    font-size: 3em;
    margin-bottom: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 10px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.at_a_glancebox{
    height: 300px;
    width: 24.5%;
    display: inline-block;
    position: relative;
    margins: 0px 0px 0px 0px;
}

.carosel{
    width: 250px;
    position: center;
}

.h4-style{
    font-size: 1.875em;
    color: #ca0d33;
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform:uppercase;
    margin-bottom: 10px;
    display: block;
}

.small_description{
    margin: 10px 0px;
    display: block;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
}

/* .small_boxes{
    list-style: none;
    padding: 0px 0px;
    margin: 10px 0px;
    display: inline;
    background-color: #005983;
    box-shadow: none;
    list-style-type: square;
} */

#space{
    height: 100px;

}
#largebox{
text-align: center;
}

#largerboxset{
    display: inline-block;
    margin: 0 0 50px 0;
    padding: 15px 20px 30px 20px;
    width: 75vw;
    height: 90px;
    background-color: #00344C;
    position: relative;
    text-align: center;
    background-image: 
}

.h3-style{
    font-size: 1.875em;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform:uppercase;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    padding: 15px 20px 30px 20px;
}

#line{
    width: 100vw;
    height: 2px;
    background-color: beige;
    }

#space2{
    height: 20px;
}

#schoolbox{
    width: 100vw;
    height: 350px;
    background-color: white;
    text-align: center;
    position: relative;
}

.h2-style{
    font-size: 1.125em;
    color: #00344C;
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform:none;
    margin-bottom: 30px;
    display: block;
    text-align: center;
    padding: 40px 20px 30px 20px;
}

#schoolpics{
    height: 100px;
    width: 100vw;
}

.picbox{
    height: 170px;
    width: 19.5%;
    display: inline-block;
}

#um{
    background-image: url(images/um.png);
    background-size: cover;
    background-position: center;
}

#mit{
    background-image: url(images/mit.png);
    background-size: cover;
    background-position: center;
}

#wake{
    background-image: url(images/wakeforest.png);
    background-size: cover;
    background-position: center;
}

#yale{
    background-image: url(images/yale.png);
    background-size: cover;
    background-position: center;
}

#northcaro{
    background-image: url(images/northcarolina.png);
    background-size: cover;
    background-position: center;
}

/* Footer */

.right{
    float: right;
}

#footer{
    width: 100%;
    height: 400px;
    vertical-align: middle;
    background-color: #333333;
}

/* #footernav{
    height: 75px;
    width: 100%;
    background-color: #00344C;
} */

/* #right{
    font-size: 22px;
    color: white;
    text-decoration: none;
    vertical-align: middle;
}

#left{
    font-size: 22px;
    color: white;
    text-decoration: none;
} */

a{
    text-decoration: none!important;
    vertical-align: middle;
    padding: 10px;
    
  } 

#footernav{ 
    width: 100%;
    height: 50px;
    background-color: #10243B;
    color: #A3DDE8;
    vertical-align: middle;
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    /* padding: 12.5px 25px 12.5px 0px; */
    text-decoration: none;
    /* margin-top: 10px; */
    display: inline-block;
} 

#leftfoot {
    display: inline-block;
    text-decoration: none;
    font-size: 1.0rem;
    color: #A3DDE8;
    vertical-align: middle;
    margin-top: 15.5px;
    margin-right: 10%;
}




#rightfoot {
    display: inline-block;
    text-decoration: none;
    font-size: 1.0rem;
    color: #A3DDE8;
    margin-top: 5.5px;
    float: right;
}

a:-webkit-any-link {
    color: #A3DDE8;
}

/* final box shenanigans */

#finalbox{
    height: 350px;
    width: 100vw;
    background-color: #333333;
}

#firstline{
    font-size: .875em;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: white;
    background-color: #333333;
    margin-left: 26%;
    margin-top: 2%;
}

#mission{
    display: block;
    padding: 5% 38% 0% 26%;
    font-size: .875em;
    font-style: italic;
    color: #ffffff;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;

}

#seal{
    padding: 5% 19% 0% 0%;
}

#sitemap{
   padding-right: 11%;

}